<!DOCTYPE html>
<html>
<head>
  <%- include static/header.ejs %> 
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script src="js/meal-list.js"></script>
</head>
<body>

</body>
</html>