<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
    <%- include static/header.ejs %>   


  </head>
	<body class="landing">
    <div id="page-wrapper">

      <!-- Header -->
        <header id="header" class="alt">
           <nav>
                            <ul>
                                <li>
                                    <a href="#">宗旨</a>
                                </li>

                                <li>
                                    <a href="#">流程</a>
                                </li>

                                <li>
                                    <a href="#">註冊</a>
                                </li>

                                <li>
                                    <a href="#">登入</a>
                                </li>
                               
                                <li>
                                    <a href="#">幫助</a>
                                </li>
                                  <li>
                                    <a href="/create" style="border: #21AB38 1px solid; color:#21AB38">成為私廚</a>
                                </li>
                           
                                      <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                      <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
                                
                            </ul>
                        </div><!-- /.nav-collapse -->
                    </div><!-- /.navbar -->
                </div>

        </header>

      <!-- Banner -->
        <section id="banner">
          <h2><a href="index.html"><img src="img/logo.png" width="400px"/></a></h2>
<!--
          <ul class="actions">
            <li><a href="#" class="button">jsdasdsdsd</a></li>
          </ul>
-->
        </section>

      

      <!-- Main -->
        <section id="main" class="container">
          <section class="box special form">
          <form action="meals" method="post">
                <div class="input-group input-group-lg col-sm-12">
                  <input type="text" name="place" id="search_location" class="form-control" placeholder="地點" aria-de scribedby="sizing-addon1" />
                  <select name="date" id="search_date"  class="form-control" placeholder="日期" aria-describedby="sizing-addon1">
                  </select>
                  <select name="time" id="search_time"  class="form-control" placeholder="時段" aria-describedby="sizing-addon1">
                    <option value="">時段</option>
                    <option value="1">早餐</option>
                    <option value="2">午餐</option>
                    <option value="3">晚餐</option>
                  </select>
                  <input id="lat" name="lat" value="1" type="hidden" />
                  <input id="lng" name="lng" value="2" type="hidden" />
                  <input type="submit" id="submit_search" class="form-control" aria-describedby="sizing-addon1" value="搜尋" />
                </div>
              </form>
          </section>


          

      <!-- Footer -->
        <footer id="footer">
          <p>&copy; bentogo. All rights reserved.</p>
        </footer>

    </div>
      <div id="map"></div>

		<%- include static/js.ejs %>

	</body>

<script>
initDate();
  function initAutocomplete() {
  var map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: -33.8688, lng: 151.2195},
    zoom: 13,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  // Create the search box and link it to the UI element.
  var input = document.getElementById('search_location');
  var searchBox = new google.maps.places.SearchBox(input);

  // Bias the SearchBox results towards current map's viewport.
  map.addListener('bounds_changed', function() {
    searchBox.setBounds(map.getBounds());
  });

  var markers = [];
  // [START region_getplaces]
  // Listen for the event fired when the user selects a prediction and retrieve
  // more details for that place.
  searchBox.addListener('places_changed', function() {
    var places = searchBox.getPlaces();

    if (places.length == 0) {
      return;
    }

    // Clear out the old markers.
    markers.forEach(function(marker) {
      marker.setMap(null);
    });
    markers = [];

    // For each place, get the icon, name and location.
    var bounds = new google.maps.LatLngBounds();
    places.forEach(function(place) {
      var icon = {
        url: place.icon,
        size: new google.maps.Size(71, 71),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(17, 34),
        scaledSize: new google.maps.Size(25, 25)
      };

      // Create a marker for each place.
      markers.push(new google.maps.Marker({
        map: map,
        icon: icon,
        title: place.name,
        position: place.geometry.location
      }));

      if (place.geometry.viewport) {
        // Only geocodes have viewport.
        bounds.union(place.geometry.viewport);
      } else {
        bounds.extend(place.geometry.location);
      }
    });
    map.fitBounds(bounds);

    // My
		latLng = map.getCenter();
		document.getElementById('lat').value = latLng.lat();
		document.getElementById('lng').value = latLng.lng();

  });
  // [END region_getplaces]
}

function initDate() {
	var today = new Date();
	var dd = today.getDate();
	var mm = today.getMonth()+1; //January is 0!
	var MAX_DAYS = 7;
	var search_date = document.getElementById('search_date');
	search_date.innerHTML = "<option value='' >日期</option>";
	for (var i=0;i<MAX_DAYS;i++) {
			dd++;
			search_date.innerHTML += "<option value='"+ today +"'> " + mm+"月"+dd+"日"+ "</option>"
			console.log(search_date);
	}
}

initAutocomplete();



</script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&callback=initAutocomplete"
         async defer></script>

</html>