<!DOCTYPE html>
<html>
<head>
  <%- include static/header.ejs %> 
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script src="js/meal-list.js"></script>    
</head>
<body ng-app="meal-list">
<!-- Header -->
<header id="header" class="alt">
  <h1><a href="index.html">Alpha</a> by HTML5 UP</h1>
  <nav id="nav">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li>
        <a href="#" class="icon fa-angle-down">Layouts</a>
        <ul>
          <li><a href="generic.html">Generic</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="elements.html">Elements</a></li>
          <li>
            <a href="#">Submenu</a>
            <ul>
              <li><a href="#">Option One</a></li>
              <li><a href="#">Option Two</a></li>
              <li><a href="#">Option Three</a></li>
              <li><a href="#">Option Four</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="#" class="button">Sign Up</a></li>
    </ul>
  </nav>
</header>

<%- lat %>
<%- lng %>
<%- date %>
<div class="list" ng-controller="listController">
  <div class="meal-item col-sm-4" ng-repeat="meal in meals">
    <div class="image-view">
      <img ng-src="{{meal.photo.url}}">
    </div>
    <div class="info">
      <div class="title">{{meal.name}}</div>
      <div>
        <span class="type">{{meal.type}}</span>．
        <span class="rate">{{meal.rate}}</span>．
        <span class="price">{{meal.price}}</span>
        剩餘數量<span class="order">{{meal.maxOrder - meal.order}}</span>
      </div>
    </div>
  </div>
</div>


  
</body>
</html>