<!DOCTYPE html>
<html>
<head>
  <%- include static/header.ejs %> 
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script src="js/meal-list.js"></script>    
</head>
<body class="landing" ng-app="meal-list" ng-controller="listController" >

    <div id="page-wrapper">
<!-- Header -->    
    <header id="header" class="alt" >
        <img src="img/bentogo-01.png" width="210px" style="padding:23px 0 0 45px">
           <nav>
                            <ul>
                                <li>
                                    <a href="#">宗旨</a></li>

                                <li>
                                    <a href="#">流程</a>
                                </li>

                                <li>
                                    <a href="#">註冊</a>
                                </li>

                                <li>
                                    <a href="#">登入</a>
                                </li>
                               
                                <li>
                                    <a href="#">幫助</a>
                                </li>
                                  <li>
                                    <a href="offer.html" style="border: #21AB38 1px solid; color:#21AB38">成為私廚</a>
                                </li>
                           
                                      <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                      <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
                                
                            </ul>
                        </nav><!-- /.nav-collapse -->
                 

        </header>

   
    <section class="box special form">
          <form action="meals" method="post">
                <div class="input-group input-group-lg col-sm-12  text-center-md">
                <div class="col-sm-4">
                     <select name="type" id="search_type"  class="form-control" placeholder="類型" aria-describedby="sizing-addon1" ng-model="search.type">
                   <option value="">類型</option>
                   <option value="家鄉風味">家鄉風味</option>
                    <option value="日韓風味">日韓風味</option>
                    <option value="泰越料理">泰越料理</option>
                   <option value="西式歐風">西式歐風</option>
                   <option value="重訓餐">重訓餐</option>
                   <option value="悠閒輕食">悠閒輕食</option>
                   <option value="7">甜點</option>
                   <option value="8">素食</option>
                   <option value="9">其他</option>
                  </select>
                </div>
                <div class="col-sm-4">

                    <select name="type" id="search_maxOrder"  class="form-control" placeholder="剩餘數量" aria-describedby="sizing-addon1" ng-model="maxOrder">
                    <option value="">剩餘數量</option>
                    <option value="1">1+</option>
                    <option value="2">2+</option>
                    <option value="3">3+</option>
                   <option value="4">4+</option>
                   <option value="5">5+</option></select>
                  </div>
                <div class="col-sm-4">
                   
                    <select name="type" id="search_rate"  class="form-control" placeholder="評分" aria-describedby="sizing-addon1" ng-model="rate">
                    <option value="">評分</option>
                    <option value="5">5</option>
                    <option value="4">4+</option>
                    <option value="3">3+</option>
                  </select>
                </div>
                
                  </div>
            
                
              </form>
        
        
        
                
        
          </section>

    

                    
    
    
    
<div class="list" 
ng-init="location.lat = <%- lat %>; location.lng = <%- lng %>; date = '<%- date %>' ">
  <div class="meal-item col-md-4 wp2" ng-repeat="meal in meals | orderBy:'dis':false | filter:search" ng-show="(!(maxOrder<10 && maxOrder>0)  || meal.maxOrder >= maxOrder)  && (!(rate>0) || meal.rate >= rate)">
      <div class="image-view">
          <a href="#"><img ng-src="{{meal.photo.url}}"></a>
    </div>
    <div class="info">
      <div class="title" style="color:#000">{{meal.name}}</div>
      <div>
        <span class="type">{{meal.type}}</span>
        <br/>
        <span class="rate" ng-repeat="n in [] | range:meal.rate">
          <img src="img/ratingstar-01.png"/>
        </span>
        <span class="rate" ng-repeat="n in [] | range:5.9-meal.rate">
          <img src="img/ratingstar-02.png"/>
        </span>
        
       <br/> <span class="price">$ {{meal.price}}</span>
        <br/><span class="order">{{meal.maxOrder - meal.order}} 份</span>
      </div>
      <div class="distance">{{meal.dis}} 公里</div>
    </div>
        
  </div>
</div>
      
        
        
        
         
            
            
          
            
            
            
            
            
            
            
            
            
        </div>
        
</body>



<script>
  
</script>
</html>