body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #e16a33;
}

a {
  text-decoration: none;
  border: none;
}

#header {
  color: #777;
}

input.form-control {
  padding: 10px;
}

select {
  text-indent: 7px;
}




/* home page  */

.input-group  > .form-control {
  display: inline;
}

.input-group  > .form-control:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group  > .form-control:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#search_location {
  width: 40%;
}

#search_date {
  width: 20%;
}

#search_time {
  width: 20%;
}

#submit_search {
  width: 20%;
}


/* meals page */


.image-view {
  width: 100%;
  background-color: 000;
  height: 200px;
  overflow: hidden;
}
.image-view > img {
  height: 100%;
  max-width: 100%;
}

.info {
  width: 100%;
  margin: 12px;
}

.title {
  color: 222;
  font-size: 18px;
}

.star {
  width: 24px;
}

#map {
  
}

.left {
  width: 50%;
}

.right {
  width: 50%;
  float: right;
}

.my-col-sm-3 {
  width: 25%;
  float: left;
  display: inline-block;
}

/* create page */

.form-title {
  font-size: 14px;
}

.form-subtitle {
  color: #aaa;
}


