<title><%= title %></title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link href="https://a1.muscache.com/airbnb/static/packages/common_o2.1-38d1809edfde9c198cf519c1b457e1da.css" media="all" rel="stylesheet" type="text/css">
<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->

<!-- angularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>

<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->

<!-- Load jQuery UI CSS  -->
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

<!-- Load jQuery JS -->
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<!-- Load jQuery UI Main JS  -->
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<link rel="stylesheet" href="/libs/css/bootstrap.css" />
<link rel="stylesheet" href="/css/main.css" />
<link rel="stylesheet" href="/css/style.css" />