<!-- Header -->
        <header id="header" class="alt">
                  <a id="logo" href="/"><img src="img/bentogo-01.png" width="210px" style="padding:23px 0 0 45px"></a>

           <nav>
                            <ul>
                                <li>
                                    <a href="#">宗旨</a>
                                </li>

                                <li>
                                    <a href="#">流程</a>
                                </li>

                                <li>
                                    <a href="#">註冊</a>
                                </li>

                                <li>
                                    <a href="/login">登入</a>
                                </li>
                               
                                <li>
                                    <a href="#">幫助</a>
                                </li>
                                  <li>
                                    <a href="/create" style="border: #21AB38 1px solid; color:#21AB38">成為私廚</a>
                                </li>
                           
                                      <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                      <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
                                
                            </ul>
                        </div><!-- /.nav-collapse -->
                    </div><!-- /.navbar -->
                </div>

        </header>